name: CI / CD
on: [push]
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: 체크아웃
        uses: actions/checkout@v2
      - name: 모듈들 캐싱
        uses: actions/cache@v2
        with:
          path: ~/node_modules
          key: npm-packages-${{ hashFiles('**/package-lock.json') }}
        id: cache
      - name: 모듈들 설치
        if: steps.cache.outputs.cache-hit != 'true'
        run: cd fe && npm install && cd ../backend && npm install
      - name: 프론트앤드 lint 체크 및 컴파일 테스트
        run: cd fe && npm run lint
      - name: 백앤드 lint 체크 및 컴파일 테스트
        run: cd backend && npm run lint && npm run build
  CD:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: 리모트 쉘 접속
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: ls -al