name: CI / CD
on: [push]
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: 체크아웃
        uses: actions/checkout@v2
      - name: 모듈들 캐싱
        uses: actions/cache@v2
        with:
          path: |
            ~/cache
            ~/cache2
          key: npm-packages-${{ hashFiles('**/test.txt') }}
        id: cache
      - name: 모듈들 설치
        if: steps.cache.outputs.cache-hit != 'true'
        run: echo '캐시된 파일 갱신'
      - name: ls
        run: ls cache