name: CD
on: [push]

jobs:
  CD:
    runs-on: ubuntu-latest
    steps:
      - name: 리모트 쉘 접속
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script_stop: true
          script: |
            source .zshrc 
            docker-compose -f ./PPoong/release-docker-compose.yaml down
            bash compose_stop.sh
            cd PPoong && git pull
            cd ..
            bash run.sh