name: CI / CD
on: [push]
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: 체크아웃
        uses: actions/checkout@v2
      - name: 모듈들 캐싱
        uses: actions/cache@v2
        with:
          path: |
            backend/node_modules
            fe/node_modules
          key: npm-packages-${{ hashFiles('**/package_lock.json') }}
        id: cache
      - name: 백앤드 모듈들 설치
        if: steps.cache.outputs.cache-hit != 'true'
        run: cd backend && npm install
      - name: 프론트앤드 모듈들 설치
        if: steps.cache.outputs.cache-hit != 'true'
        run: cd fe && npm install
      - name: 프론트앤드 lint 체크 및 컴파일 테스트
        run: cd fe && npm run lint
      - name: 백앤드 lint 체크
        run: cd backend && npm run lint
      - name: 백앤드 빌드 체크
        run: cd backend && npm run build
      - name: 백앤드 단위 테스트 체크
        run: cd backend && npm run test
      - name: 백앤드 통합 테스트 체크
        run: cd backend && npm run test:e2e
