name: CI / CD
on: [push]
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: 체크아웃
        uses: actions/checkout@v2
      - name: 모듈들 캐싱
        uses: actions/cache@v2
        with:
          path: |
            ${{ github.workspace }}/backend/node_modules
            ${{ github.workspace }}/frontend/node_modules
          key: npm-packages-${{ hashFiles('**/package_lock.json') }}
        id: cache
      - name: 백앤드 모듈들 설치
        if: steps.cache.outputs.cache-hit != 'true'
        run: cd backend && npm install
      - name: 프론트앤드 모듈들 설치
        if: steps.cache.outputs.cache-hit != 'true'
        run: cd frontend && npm install
      - name: 프론트앤드 lint 체크 및 컴파일 테스트
        run: cd frontend && npm run lint
      - name: 백앤드 lint 체크
        run: cd backend && npm run lint
      - name: 백앤드 빌드 체크
        run: cd backend && npm run build
      - name: 백앤드 단위 테스트 체크
        run: cd backend && npm run test
      - name: 백앤드 통합 테스트 체크
        run: cd backend && npm run test:e2e

  CD:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: 리모트 쉘 접속
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script_stop: true
          script: |
            git clone ${{ github.repositoryUrl }}
            echo ${{ github.action_repository }}