name: CI / CD
on: [push]
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: 체크아웃
        uses: actions/checkout@v2
      - name: 모듈 캐싱
        uses: actions/cache@v2
        id: cache
        with:
          path: fe/node_modules
          key: npm-packages-${{ hashFiles('**/package-lock.json') }}
      - name: 모듈 설치
        if: steps.cache.outputs.cache-hit != 'true'
        run: cd fe && npm install
      - name: lint 체크 및 컴파일
        run: cd fe && npm run lint
  CD:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: 리모트 쉘 접속
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: git clone ${{ github.repositoryUrl }} && ls -al