name: Hello CI
on: [push]
jobs:
  job_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        id: cache
        with:
          path: fe/node_modules
          key: npm-packages-${{ hashFiles('**/package-lock.json') }}
      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: cd fe && npm install
      - name: lint, tsc, build check
        run: cd fe && npm run lint